/* ######################### MENU STYLE #########################*/
.hamburger-menu-close-button { display: none; }
#imSite { position: relative; }
#imMnMn.main-menu { text-align: left; }
#imMnMn.main-menu > ul { z-index: 10001; display: inline-block; }
#imMnMn.main-menu li > ul, #imMnMn.main-menu li > div { z-index: 10002; }

/* Main Menu */

#imMnMn.main-menu ul {padding:0;margin:0;list-style-type:none; }
#imMnMn.main-menu > ul { margin-left: 0px; }
#imMnMn.main-menu > ul > li { position: relative; margin-top: 0px; }
#imMnMn.main-menu > ul > li:first-child { margin-top: 0; }

/* Links */

/* Main Menu style */
#imMnMn.main-menu > ul > li { cursor: pointer; display: block; float: left; }
#imMnMn.main-menu > ul > li > a { display: block; }
#imMnMn.main-menu > ul > li .imMnMnFirstBg { background-image: url('../menu/ver_main.png'); width: 151px; height: 26px; }
#imMnMn.main-menu > ul > li:hover .imMnMnFirstBg , #imMnMn.main-menu > ul > li.imMnMnCurrent:hover .imMnMnFirstBg  { background-image: url('../menu/ver_main_h.png'); }
#imMnMn.main-menu > ul > li.imMnMnSeparator .imMnMnFirstBg  { background-image: none; cursor: auto; }
#imMnMn.main-menu > ul > li.imMnMnCurrent .imMnMnFirstBg  { background-image: url('../menu/ver_main_c.png'); cursor: auto; }
#imMnMn.main-menu > ul > li .imMnMnFirstBg .imMnMnImg, #imMnMn.main-menu > ul > li:hover .imMnMnFirstBg .imMnMnImg { overflow: hidden; position: absolute; line-height: 26px; width: 100%; height: 26px; top: 0; left: 0;text-align: left; }
#imMnMn.main-menu > ul > li .imMnMnFirstBg .imMnMnImg img, #imMnMn.main-menu > ul > li:hover .imMnMnFirstBg .imMnMnImg img { border: none; }
#imMnMn.main-menu > ul > li .imMnMnFirstBg .imMnMnLevelImg, #imMnMn.main-menu > ul > li:hover .imMnMnFirstBg .imMnMnLevelImg { display: block; position: absolute; top: 0; height: 26px; line-height: 26px; width: 10px; vertical-align: middle; background-position: center center; background-repeat: no-repeat; background-image: url('../res/imIconMenuLeft.gif'); right: 2px; }
#imMnMn.main-menu > ul > li .imMnMnFirstBg .imMnMnHoverIcon { display: none; }
#imMnMn.main-menu > ul > li:hover .imMnMnFirstBg .imMnMnDefaultIcon { display: none; }
#imMnMn.main-menu > ul > li:hover .imMnMnFirstBg .imMnMnHoverIcon { display: inline; }
#imMnMn.main-menu > ul > li.imMnMnSeparator > .imMnMnFirstBg > .imMnMnTxt { display: none; }
#imMnMn.main-menu > ul > li > a { text-decoration: none; }
#imMnMn.main-menu > ul > li .imMnMnFirstBg > .imMnMnTxt { overflow: hidden; margin: 0px; padding: 0px;  width: 146px; height: 26px; font: normal normal normal 9pt 'Tahoma'; color: #E0E0E0; text-align: center; text-decoration: none; line-height: 26px; display: block;}
#imMnMn.main-menu > ul > li:hover .imMnMnFirstBg > .imMnMnTxt, #imMnMn.main-menu > ul > li.imMnMnCurrent:hover .imMnMnFirstBg > .imMnMnTxt { cursor: pointer; color: #FFFFFF;font-weight: normal;font-style: normal;}
#imMnMn.main-menu > ul > li.imMnMnCurrent .imMnMnFirstBg > .imMnMnTxt { color: #FFFFFF;font-weight: bold;font-style: normal;}
#imMnMn.main-menu > ul > li.imMnMnSeparator { background: transparent url('../res/separatorv.png') no-repeat center center; width: 151px; height: 10px; }
#imMnMn.main-menu .imMnMnFirstBg { position: relative; display: block; background-repeat: no-repeat; cursor: pointer; width: 100%; }
#imMnMn.main-menu a { border: none; cursor: pointer; }
#imMnMn.main-menu .imMnMnTxt { text-overflow: ellipsis; white-space: nowrap; }
#imMnMn.main-menu .imMnMnTxt .imMnMnTextLabel { position: relative; }
#imMnMn.main-menu .imMnMnTxt .imMnMnTextLabel { word-wrap: normal; white-space: normal; line-height: normal; display: inline-block; vertical-align: middle; margin-top: -2px; }
#imMnMn.main-menu .imMnMnFirstBg .imMnMnImg { display: block; height: 26px; width: 151px; cursor: pointer; }
#imMnMn.main-menu .imMnMnFirstBg .imMnMnImg img { position: absolute; }


/* MENU POSITION : VERTICAL VerticalOneColumn */
#imMnMn.main-menu ul .autoHide, #imMnMn.main-menu ul div .autoHide { display: none; }

/* ######################### MAIN MENU POSITION #########################*/

/* div: Menu container*/
#imMnMn.main-menu { z-index:10000; }
#imMnMn.main-menu > ul { position: relative; }
#imMnMn.main-menu > ul > li > ul { position: absolute; }

/* First level menu style */
#imMnMn.main-menu > ul > li { width:151px; }
#imMnMn.main-menu > ul > li span { display:block; padding:0;}
#imMnMn.main-menu a { display: block; width:151px;}

/* ########################## SUB MENU POSITION #########################*/

#imMnMn.main-menu ul ul li .imMnMnBorder { overflow: hidden; }
.hamburger-menu-background { display: none; }
#imMnMn.static-menu { z-index: 10001; padding: 0; height: 30px; }
.static-menu div.imMnMnCustomHTML { display: none; }
.menu-mobile-logo { display: none; }
